body{
    font-family: Arial, sans-serif;
    background: url("service.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  p
  {
    color: rgb(192, 175, 175);
    float: left;
    max-width: 90;
    padding: 25px;
    line-height: 2em;
    font-family: cursive;
  }
  h1{
    color: wheat;
    text-shadow: 1px 1px;
    text-align: center;
  }
  ul.navbar li a {
    /* color: white; */
    color: rgb(158, 163, 225);
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 520;
    font-size: 5mm;
  }

  ul.navbar li a:hover {
    background-color: rgba(255, 255, 255, 0.333);
    color: rgba(0, 0, 0, 0.837);
    font-weight: 600;
    border-radius: 3px;
    text-transform: uppercase;
  }