
body{
    font-family: Arial, sans-serif;
    background: url("tm.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h2
{
    text-align: center;
    font-weight: 600;
    font-size: 9mm;
    color: aqua;
    text-shadow: 1px 1px rgb(0, 0, 0);
}
form
{
    float:right;
    margin-right: 30%;
    margin-top: 5em;
    font-size: 7mm;
    font-weight: 300;
    padding: 14px;
    color: rgb(0, 0, 0);
    
}
input{
    padding: 7px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    background-color: rgba(186, 238, 178, 0.549);
    font-size: 4mm;
    margin: 20px;
}
select
{
    padding: 7px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.474);
    font-size: 4mm;
}
label{
    padding: 20px;
}
input.t
{
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.507);
    color: rgb(0, 0, 0);
    font-weight: 600;
    border-radius: 5px;
    text-transform: uppercase;
}
input.t:hover
{
    letter-spacing:1px;
    background-color: rgba(255, 255, 255, 0.532);
    color: rgb(0, 0, 0);
}
ul.navbar li a {
    color: rgb(136, 218, 243);
    text-align: left;
    padding: 14px;
    text-decoration: none;
    font-weight: 50;
    font-size: 5mm;
  }
  
  ul.navbar li a:hover {
    background-color: rgba(99, 213, 255, 0.914);
    color: rgb(0, 0, 0);
    font-weight: 600;
    border-radius: 5px;
    text-transform: uppercase;
  }
